body{
    background-color: rgb(6, 6, 6);
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.container{
    border: 3px solid gray;
    border-radius: 30px;
    height: 550px;
    width: 500px;
    background-color: black;
    box-shadow: rgba(246, 246, 247, 0.25) 0px 6px 12px -2px, rgba(253, 253, 253, 0.3) 0px 3px 7px -3px;}
.item{
    border: 2px solid;
    background-color: rgb(52, 49, 49);
    border-radius: 23px;
    height: 100px;
    width: 475px;
    margin: 10px;
    box-shadow: #ff9900 0px 0px 0px 3px;
}
.item:hover{
 transform: scale(1.03);
 cursor: pointer;
}
    .btn{
 display: grid;
 grid-template-columns: repeat(4,1fr);
 gap: 20px;
margin-top: 20px;
}
.buttons{
    padding: 20px;
    margin: 0px 15px;
    border-radius: 100px;
    font-size: large;
    background-color: rgba(128, 128, 128, 0.662);
    color: white;
    border-style: none;
}
#color{
background-color: #ffa500;
font-size: 20px;
}
h1{
    color: rgb(255, 255, 255);
    text-align: end;
    padding-right: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
}
.buttons:hover{
    background-color: rgba(244, 247, 247, 0.849);
    transform:scale(1.04);
    cursor: pointer;
    color: black;
}
